.splitter {

    .index {
        display: flex;
        margin: 16px 0;
        padding-top: 2rem;
        font-weight: 500;
        font-size: 12.8px;
        color: var(--text-splitter-primary);
        align-items: center;
        white-space: nowrap;
    }

    .text{
        padding-right: 10px;
    }

    .index::after {
        display: inline-block;
        width: 100%;
        border-block-start: 1px solid transparent;
        border-block-start-color: #0505050f;
        border-block-end: 0;
        content: "";
    }

}

