.root {
    border: 2px solid #000;
}

.button {
    background-color: color-mix(in srgb, var(--primary), transparent 90%);
    border: 2px solid var(--primary);
    color: var(--primary);

    &:hover {
        background-color: color-mix(in srgb, var(--primary), transparent 80%);
        color: var(--primary);
    }
}