.breakLine {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--text-primary);

  &::before,
  &::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: var(--text-splitter-primary);
  }

  .text {
    padding: 0 1em;
    white-space: nowrap;
  }
}