.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .video {
    width: 100%;
  }
  
  @media (max-width: 768px){
    .contentContainer {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .link{
    color: var(--text-link);
    text-decoration: underline;
  }
}