.container{
    font-family: var(--font-noto-sans-jp);
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;

    .contents{
        display: flex;

        .sidebar {
            width: 25%;
            padding: 0 1rem;
            color: var(--text-primary);
            font-weight: 700;
        }

        .content{
            width: 75%;
            padding: 0 1rem;
        }
    }
}