/* css変数の定義ファイル */
:root {
  --primary: #005780;
  --secondary: #eef2f5;

  --header-footer-bg: #f8f9fa;
  --body-primary-bg: #ffffff;
  --body-dark-bg: #ffffff;

  /* テキスト */
  --text-header-primary: #202020;
  --text-primary: #222222;
  --text-date-primary: #888;
  --text-splitter-primary: #444;
  --text-link: #37b5ff;
  --text-copyright: #212529;
}
