.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .button {
        margin-top: 20px;
    }

    .pagination {
        display:inline;
        margin-top: 20px;
    }

    .extended {
        display: none;
    }
}