.firstPost {
    border: 2px solid var(--primary);
    border-bottom: 0px;
}

.Post {
    border: 2px solid var(--primary);
}

.container { 
    width: 100%;
    display: flex;
    

    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    .textContainer {
        margin-left: 4px;

        .date {
            font-size: 10px;
            font-weight: 700;
        }

        .description {
            font-size: 12px;
            line-height: 150%;
        }
    }
}