.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 36px;

    .loader {
        position: absolute;
    }

    .pagination {
        display:inline;
        margin-top: 20px;
    }
}

.dummy {
    visibility: hidden;
}