.footer{
    background-color: var(--header-footer-bg);
    padding: 30px 70px;
    font-weight: 700;

    .container{
        max-width: 1400px;
        margin: 0 auto;
    }

    .copyright{
        font-size: 0.8rem;
        color: var(--text-date-primary);
        margin-top: 1rem;
    }

    @media (max-width: 768px) {
        padding: 30px 0px;
      }

    .copyrightContainer{
        @extend .topText;
    }

    .topText {
        padding:0 0.5rem;
        
        .school{
            font-weight: 100;
        }
        .club{
            font-size:1.4rem;
            color: var(--text-link);
            margin:0 0 2.0rem;
        }
    
    }

    .bottomText {
        @extend .topText;
        margin: 16px 0;
        padding-top: 2rem; 
    }

    .footerColumn{
        display:flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column; // モバイル用に縦並びに変更
            text-align: center;
          }

        .column{
            flex: 1;
            margin: 0 10px;
        }
    }

    
}