.container {
  padding: 0 24px;
  margin-top: 32px;

  .header {
    color: var(--primary);
    font-weight: 700;
    font-size: 24px;
    text-align: center;
  }

  .title {
    font-size: 24px;
    font-weight: 600;
    margin: 8px 0;
  }

  .text {
    color: var(--text-primary);
  }

  .link {
    color: var(--text-link);
    text-decoration: underline;
  }
}