.tags {
  width: fit-content;
  flex: auto;
  margin: 0;
  padding: 0;
  background-color: var(--secondary);
  border: solid 3px var(--primary);

  .text{
    padding: 2px 4px;
    color: var(--primary);
    font-weight: bold;
  }
}

