.tags {
  width: fit-content;
  flex: auto;
  margin: 0;
  padding: 0;
  // background-color: --secondary;
  background-color: #eef2f5;

  // border: solid 3px --primary;
  border: solid 3px #005780;

  .text{
    padding: 2 4;
    // color: --primary;
    color: #005780;
    font-weight: bold;
  }
}

